#top{
  background-color: #5D6D7E;
  height:50px;
  border-radius: 20px;
  position: fixed;
  width: 100%;
}
#top>ul>li{
  display: inline-block;
  padding-left: 100px;
}
#top>ul>li>a {
  text-decoration: none;
  color:#D0D3D4;
}
#top>ul {
  padding-left: 350px;
  opacity: 0.6;
  padding-top: 4px;
}
#navbar{
  background-color: #515A5A;
  height:400px;
  width: 100%;
}
#navbar>img {
  border-radius: 100px;
  height:200px;
}
.title{
  float: right;
  font-size: 40px;
  font-family: Pacifico;
  padding-right: 20px;
}
.details >ol>li>em>a {
  text-decoration: none;
}
#projects{
  background-image: url("https://cdn.suwalls.com/wallpapers/abstract/blue-blurry-shades-51093-1920x1200.jpg");
  height: 300px;
}
#projects>center>h3 {
  font-size: 30px;
  color: #F8F9F9;
  padding-top: 7px;
}
#columns {
  display: flex;
  padding-left: 200px;
}
.cl {
  width:350px;
  background-color: #ffffff;
  opacity: 0.5;
  padding-left: 23px;
  height: 150px;
}
.skill {
  width:350px;
  background-color: #D4E6F1;
  opacity: 0.5;
  padding-left: 23px;
  height: 150px;
}
